@using Fashion_store_web.Dtos.Sizes;
@model SizeDto
<form method="post">

    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Size</h2>
            <hr />
        </div>

        @*<div class="mb-3">
        <input asp-for="Id" type="text" class="form-control" hidden />
        </div>*@

        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" type="text" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Code"></label>
            <input asp-for="Code" type="text" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="CreationTime"></label>
            <input asp-for="CreationTime" type="text" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="LastModificationTime"></label>
            <input asp-for="LastModificationTime" type="text" class="form-control" />
        </div>

        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary form-control">Delete</button>
            </div>

            <div class="col-6">
                <a asp-controller="Size" asp-action="Index" class="btn btn-outline-secondary border form-control">
                    Back to List
                </a>
            </div>
        </div>

    </div>

</form>