@using Fashion_store_web.Dtos.Categories;
@model UpdateCategoryDto
<form method="post">

    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Update Category</h2>
            <hr />
        </div>
@*
        <div class="mb-3">
            <input asp-for="Id" type="text" class="form-control" hidden />
        </div>*@

        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" type="text" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="ParentId"></label>
            <input asp-for="ParentId" type="text" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Slug"></label>
            <input asp-for="Slug" type="text" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Status"></label>
            <input asp-for="Status" type="text" class="form-control" />
        </div>

        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary form-control">Update</button>
            </div>

            <div class="col-6">
                <a asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary border form-control">
                    Back to List
                </a>
            </div>
        </div>

    </div>

</form>