@using Fashion_store_web.Dtos.ProductImage;
@model ProductImageDto
<form method="post">

    <div class="border p-3 mt-4">

        <div class="row pb-2">
            <h2 class="text-primary">Delete ProductImage</h2>
            <hr />
        </div>

        @*Take id roi hidden*@
        <div class="mb-3">
            <input asp-for="Id" type="text" class="form-control" hidden />
        </div>

        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" disabled class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="ShortName"></label>
            <input asp-for="ShortName" disabled class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Description"></label>
            <input asp-for="Description" disabled class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="CreationTime"></label>
            <input asp-for="CreationTime" disabled class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="LastModificationTime"></label>
            <input asp-for="LastModificationTime" disabled class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Slug"></label>
            <input asp-for="Slug" disabled class="form-control" />

            <div class="row">
                <div class="col-6">
                    <button type="submit" class="btn btn-primary form-control">Delete</button>
                </div>

                <div class="col-6">
                    <a asp-controller="ProductImage" asp-action="Index" class="btn btn-outline-secondary border form-control">
                        Back to List
                    </a>
                </div>
            </div>

        </div>

</form>